﻿@model indirimhaber.Haber

@{
    ViewBag.Title = "Detay";
}
<div class="panel panel-success">
    <h2>@Html.DisplayFor(m => m.HaberBaslik)</h2>


    <div>
        <!-- Kategori Haber Detay gibi bilgileri çekiyoruz.-->
        <h4>@Html.DisplayFor(m => m.HaberDetay)</h4>
        <span class="label label-primary">@Model.Kategori.KategoriAd</span>
        <hr />
        <h4>Haberimizin Detayları Aşağıdadır.</h4>
        @Model.Habericerik
    </div>
</div>
<p>
    @Html.ActionLink("Düzenle", "Duzenle", new { id = Model.ID }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
    @Html.ActionLink("Kaydı Sil", "Sil", new { id = Model.ID })
    
</p>
