﻿@model List<Haber>
@{
    ViewBag.Title = "Haber Listesi";
}

<h2>Tüm Haberler</h2>
<!-- Arama-->

 @using (Html.BeginForm())
 {
    <input tpye="text" class="form-control" id="haberAdi" name="HaberArama" placeholder="Haber Arama" />
    @Html.DropDownList("Kategoriler","Bir Kategori Seciniz")
    <input class="btn btn-default" type="submit" value="ARA" />
 }

<table class="table table-hover">
    <thead>
        <tr>
            <th>Haber Baslik</th>
            <th>Haber Detay</th>
            <th>Eklenme Tarihi</th>
            <th>Kategori</th>
        </tr>
    </thead>
    <tbody>
        <!--Başka tabloya joinlemiş olduk.-->
            @foreach (var item in Model)
            {
                <tr>
                    <td>"@item.HaberBaslik</td>
                    <td>@item.HaberDetay</td>
                    <td><@item.EklenmeTarihi</td>
                    <td><span class="label label-primary">@item.Kategori.KategoriAd</span></td>
                    <td><a class="btn btn-success" href="@Url.Action("Detay", "Haber", new { id = item.ID }) ">Haberin Ayrıntıları</a> </td>
                </tr>
                }
    </tbody>
</table>