﻿@model indirimhaber.Haber

@{
    ViewBag.Title = "Sil";
}

<h2>Sil</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Haber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HaberBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberDetay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberDetay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habericerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habericerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.KategoriAd)
        </dd>

    </dl>

    @using (Html.BeginForm("SilOnay","Haber",FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID);
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
